@media print {
    body * {
        visibility: hidden;
    }

    table, table * {
        visibility: visible;
    }

    table {
        position: absolute;
        left: 0;
        top: 0;
    }

    #print_parts {
        visibility: visible;
    }
}
