@*@model IEnumerable<EBookStore.Site.Models.ViewsModel.PublishersVM>*@
@model IEnumerable<HttpPostedFileBase>

@{
    ViewBag.Title = "CreatePublishersFromExcel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Publishers From Excel</h2>

@using (Html.BeginForm("CreatePublishersFromExcel", "Publishers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="excelFile">Select File:</label>
        <input type="file" id="excelFile" name="excelFiles" class="form-control" />
    </div>

    <input type="submit" value="Upload File" class="btn btn-primary" />
}

